<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Update Task</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    body {
      padding: 20px;
    }

    form {
      max-width: 400px;
      margin: auto;
    }

    button {
      margin-top: 10px;
    }
  </style>
</head>
<body>
<h2>Update Task</h2>
<form th:action="@{/tasks/update/{id}(id=${task.id})}" method="post">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" name="name" th:value="${task.name}" required>
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <input type="text" class="form-control" id="description" name="description" th:value="${task.description}" required>
  </div>
  <div class="form-group">
    <label for="priority">Priority:</label>
    <select class="form-control" id="priority" name="priority">
      <option value="LOW" style="color: green;" th:selected="${task.priority == 'LOW'}">Low</option>
      <option value="MEDIUM" style="color: orange;" th:selected="${task.priority == 'MEDIUM'}">Medium</option>
      <option value="HIGH" style="color: red;" th:selected="${task.priority == 'HIGH'}">High</option>
    </select>
  </div>
<!--  <div class="form-group">-->
<!--    <label for="dateCreated">Date Created:</label>-->
<!--    <input type="datetime-local" class="form-control" id="dateCreated" name="dateCreated"-->
<!--           th:value="${#dates.format(task.dateCreated, 'yyyy-MM-ddTHH:mm')}" required>-->
<!--  </div>-->
  <button type="submit" class="btn btn-warning">Update Task</button>
</form>
</body>
</html>
